lark
pyspellchecker
supervision
numpy
Pillow
requests
ultralytics
autodistill
autodistill_fastsam
autodistill_grounded_sam
autodistill_blip
autodistill_vit
click
validators
werkzeug
faiss-cpu
torch
easyocr
scikit-learn
webcolors
transformers==4.30.2
matplotlib
watchdog
qrcode
flask
cryptography
pygtrie
roboflow