lark
pyspellchecker
supervision
numpy
Pillow
requests
ultralytics
autodistill
autodistill_yolov8
autodistill_grounded_sam
autodistill_blip
autodistill_vit
click
validators
werkzeug
faiss-cpu
torch
clip @ git+https://github.com/openai/CLIP.git
easyocr
scikit-learn
webcolors
transformers==4.30.2
matplotlib