<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>VisionScript Deploy</title>
    
    <link rel="icon" href="/static/logo.svg" type="image/svg+xml" />

    <link rel="stylesheet" href="/static/deploy_intro_styles.css" />

    <link rel="manifest" href="/static/manifest.json" />

    <meta name="description" content="VisionScript Deploy lets you deploy your VisionScript code as web apps and frozen-in-time notebooks to share with friends." />

    <meta property="og:title" content="VisionScript Deploy" />
    
    <meta property="og:description" content="VisionScript Deploy lets you deploy your VisionScript code as web apps and frozen-in-time notebooks to share with friends." />
    
    <meta property="og:image" content="https://screenshot.jamesg.blog?url={{ url_root }}" />
</head>
<body>
    <nav>
        <ul>
            VisionScript Deploy
        </ul>
    </nav>
    <main>
        <h1>VisionScript Deploy</h1>
        <p>Run VisionScript code via a web application and API.</p>
        <section class="cta">
            <h2>Build your own VisionScript apps</h2>
            <p>Using VisionScript you can build computer vision apps with a drag-and-drop interface, or a concise programming language.</p>
            <a href="https://visionscript.org" target="_blank">Get started ➡️</a>
        </section>
    </main>
</body>
</html>