<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisionScript Deploy</title>

    <link rel="stylesheet" href="/static/deploy_styles.css" />
</head>
<body>
    <nav>
        <ul>
            {{ title }} - VisionScript Deploy
        </ul>
    </nav>
    <main>
        <h1>{{ title }}</h1>
        <form method="POST" action="/{{ id }}" enctype="multipart/form-data">
            {% for input in image_inputs %}
                <label for="{{ input[1] }}">{{ input[1] }}</label>
                <input type="file" name="{{ input[1] }}" id="{{ input[1] }}" />
            {% endfor %}
            {% for input in text_inputs %}
                <label for="{{ input[1] }}">{{ input[1] }}</label>
                <input type="text" name="{{ input[1] }}" id="{{ input[1] }}" />
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
        <section class="cta">
            <h2>Build your own VisionScript apps</h2>
            <p>Using VisionScript you can build computer vision apps with a drag-and-drop interface, or a concise programming language.</p>
            <a href="https://visionscript.org" target="_blank">Get started ➡️</a>
        </section>
    </main>
</body>
</html>