* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    background-color: #f7f7f7;
}
a {
    color: darkgreen;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
.cell {
    background-color: #eee;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: block;
}
input[type="submit"], #create_comment {
    margin-top: 0.5rem;
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    resize: none;
    overflow: hidden;
    width: 100%;
}
img {
    max-width: 100%;
}
nav {
    background-color: darkgreen;
    color: white;
    width: 100%;
    padding: 1rem;
}
h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
h3 {
    font-size: 14px;
    margin-bottom: 0.5rem;
}
section, #notebook {
    padding: 1rem;
    max-width: 50em;
    margin: 0 auto;
    flex: 1;
}
#current_count {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
select {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.small_links a {
    color: grey;
    font-size: 12px;
}
.small_links li {
    display: inline-block;
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
#files li {
    border: 1px solid lightgrey;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre {
    margin-top: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.time {
    font-size: 12px;
    color: grey;
    margin-bottom: 0.5rem;
}
main {
    min-height: 100vh;
}
.cell_run {
    background-color: #eee;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.cell_run:focus {
    outline: none;
}
footer {
    margin-top: 20px;
}
#drag_drop_notebook {
    border: 1px solid lightgrey;
    min-height: 400px;
    border-radius: 0.5rem;
    background-image: url("/static/drag_and_drop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#function_box, #files_section {
    width: 20em;
    padding: 1rem;
    background-color: white;
    overflow-y: scroll;
    border: 1px solid #d3d3d3;
    height: 100vh;
    line-height: 1.5em;
    position: sticky;
    top: 0;
}
#function_box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
#function_box h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
#function_box p {
    font-size: 14px;
    margin-bottom: 10px;
}
#function_box .function {
    margin-bottom: 1rem;
    cursor: grab;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 7.5px;
    padding-top: 7.5px;
}
#drag_drop_notebook {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#drag_drop_notebook .cell {
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    display: table;
    margin: 10px;
}
#drag_drop_notebook .cell p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}
#drag_drop_notebook .cell p:focus {
    outline: none;
}
#code_mode {
    display: none;
}
.argument_block {
    background: white;
    padding: 7.5px;
    border-radius: 5px;
    margin-left: 10px;
}
#error, .error {
    display: none;
    background-color: lightcoral;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
#run input {
    font-size: 1.1em;
    margin-top: 10px;
}
#output {
    margin-top: 10px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
}
dialog {
    border-radius: 5px;
    padding: 50px;
    background-color: white;
    margin: auto;
    max-width: 40em;
    min-width: 20em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
dialog h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
dialog section {
    margin: auto;
    width: 35em;
}
dialog button, input[type="submit"] {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    resize: none;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
}
dialog input {
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: block;
    margin-bottom: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    margin-right: 25px;
    background-color: white;
    color: darkgreen;
    border-radius: 5px;
    padding: 7.5px;
    cursor: pointer
}
nav ul li a {
    color: darkgreen;
    text-decoration: none;
}
nav ul li:last-child {
    margin-right: 0;
}
#files {
    min-height: 50vh;
}
#toggle_menu {
    display: none;
}
.hide_on_mobile {
    display: block;
}
.hide_on_desktop {
    display: none;
}
#nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#toast {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px lightgrey;
    z-index: 100;
    display: none;
}
#deploy_message {
    display: none;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
}
dialog p {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
}
@media screen and (max-width: 800px) {
    #nav_menu {
        display: none;
    }
    #files_section {
        display: none;
    }
    #function_box {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        top: initial;
        height: 500px;
    }
    #function_box h2 {
        display: none;
    }
    #nav_menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: darkgreen;
        z-index: 100;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
    }
    #nav_menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #nav_menu li {
        margin-top: 0;
        margin-bottom: 25px; 
        padding: 20px;
        width: 100%;
    }
    #nav_menu {
        margin-right: 0 !important;
    }
    nav ul li:last-child {
        margin-left: initial !important;
    }
    #toggle_menu {
        display: block;
        background-color: lightskyblue;
    }
    .hide_on_mobile {
        display: none;
    }
    #drag_drop_notebook {
        min-height: 300px;
    }
}